<p id="notice"><%= notice %></p>

<h2 class = "page-heading-title">Questions</h2>


<%= link_to 'Create New Question', new_question_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent page-loose-button' %>

<% if @questions.any? %>
  <ol class="mdl-list">
    
  <% @questions.each do |question| %>
  
    <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-badge mdl-badge--overlap mdl-list__item-icon" data-badge="<%= question.answers.count %>">question_answer</i>
      <a href="<%= question_path question %>" class="mdl-list__item-primary-action">
        <span class="index-question-title"><%= question.title %></span>
      </a>
      <span class="mdl-list__item-sub-title">Posted <%= time_ago_in_words question.created_at %> ago.</span>
    </span>
    <span class="mdl-list__item-secondary-content">
    <% if question.answers.any? %>
      <span class="mdl-list__item-secondary-info">Last answer <%= time_ago_in_words question.answers.last.created_at %> ago.</span>
    <% else %>
      <span class="mdl-list__item-secondary-info">No answers yet.</span>
    <% end %>
    </span>
  </li>
  
  <% end %>
<% end %>
  
<br>
<%= link_to 'Create New Question', new_question_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent page-loose-button' %>
